<!--HEADER-->

<div class="card">
    <div class="card-body">
        <h1 class="display-4 text-primary" align="center">CALCULADORA DE MÉDIA</h1>
    </div>
</div>

<!--BODY-->
<div class="container" align="center">
    
    <!--INPUT FORM-->
    <form class="w-50">
        <div class="row">
            <div class="col">
                <span>RMA</span>
                <input class="form-control form-control" type="text" [(ngModel)]="codigoRMA" placeholder="RMA" name="InputRMA">
            </div>
            <div class="col">
                <span>Nome</span>
                <input class="form-control form-control" type="text" [(ngModel)]="nome" placeholder="Nome" name="InputName">
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <span>Nota 1</span>
                <input class="form-control" type="number" [(ngModel)]="nota1" placeholder="Nota 1" name="InputNota1" step="0.01" max="10" min="0" >
            </div>
            <div class="col">
                <span>Nota 2</span>
                <input class="form-control" type="number" [(ngModel)]="nota2" placeholder="Nota 2" name="InputNota2" step="0.01" max="10" min="0" >
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>Nota 3</span>
                <input class="form-control" type="number" [(ngModel)]="nota3" placeholder="Nota 3" name="InputNota3" step="0.01" max="10" min="0" >
            </div>
            <div class="col">
                <span>Nota 4</span>
                <input class="form-control" type="number" [(ngModel)]="nota4" placeholder="Nota 4" name="InputNota4" step="0.01" max="10" min="0" >
            </div>
        </div>
        <p></p>
        <button type="button" class="btn btn-primary" (click)="calcMed()">Calcular Media</button>
        <br><br>
        
    </form>

    <!--LIST OF RESULTS-->
    <ul class="list-group" *ngIf="buttonPressed">
        <li class="list-group-item">RMA: {{outRMA}}</li>
        <li class="list-group-item">Nome: {{outNome}}</li>
        <li class="list-group-item">N1: {{outNota1 | number: '2.0-2'}}</li>
        <li class="list-group-item">N2: {{outNota2 | number: '2.0-2'}}</li>
        <li class="list-group-item">N3: {{outNota3 | number: '2.0-2'}}</li>
        <li class="list-group-item">N4: {{outNota4 | number: '2.0-2'}}</li>
        <li class="list-group-item list-group-item-success" *ngIf="outMedia >= 7">Media: {{outMedia | number: '2.0-2'}}</li>
        <li class="list-group-item list-group-item-danger" *ngIf="outMedia < 7">Media: {{outMedia | number: '2.0-2'}}</li>
        <li class="list-group-item">Data: {{outData | date:'d/M/yy'}}</li>
    </ul>

    <!--BANNERS-->

    <table style="height: 100px;">
        <tbody>
          <tr>
            <td class="align-baseline">
                <img class="align-middle" *ngIf="outMedia >= 7 && buttonPressed; else elseBlock"  [src]="aprovado" alt="Aprovado">
                <ng-template #elseBlock>
                    <img class="align-middle" *ngIf="buttonPressed"  [src]="reprovado" alt="Reprovado">
                </ng-template>
            </td>
            <td>
                <h1 class="align-middle" *ngIf="outMedia >= 7 && buttonPressed; else elseBlock2">APROVADO</h1>
                <ng-template #elseBlock2>
                    <h1 class="align-middle" *ngIf="buttonPressed" >REPROVADO</h1>
                </ng-template>
              </td>
          </tr>
        </tbody>
      </table>
</div>


<!--FOOTER-->

<div class="nav fixed-bottom navbar-light bg-light justify-content-center">
    <span class="navbar-text">
    Gabriel Machado Belardino <strong>@ Curso Angular</strong>
  </span>
</div>
